html {
    --light-font-colour: black;
    --light-container-colour: white;
    --light-background-color: #e8e8e8;

    --dark-font-colour: white;
    --dark-container-colour: #282d35;
    --dark-background-color: #21222a;

    --yellow-details-colour: #facf0f;
    --blue-details-colour: #61dafb;
}


body {
    background-color: var(--light-background-color);
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

/*Navbar styling*/

.section {
    background-color: var(--light-container-colour);
    color: var(--light-font-colour);
    display: flex;
    margin: 2.5% 5%;
}

.nav {
    margin-top: 0;
}

.nav-btn {
    /*border: var(--light-font-colour) solid 2px;*/
    margin: 2%;
    padding: 5px;
}

.home-btn {
    margin-right: auto;
}


/*Font styling*/

h1, a{
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {

}
